<h1>{{ hello }}</h1>
<p>{{ name }}</p>
<p>{{ views_list }}</p>  
<p>{{ views_list.0 }}</p> 
<p>{{ views_dict }}</p>
<p>{{ views_dict.name }}</p>
<p>{{ name|lower }}</p>
<p>{{ my_list|first|upper }}</p>
<p>{{ name|truncatewords:"30" }}</p>
<p>{{ name|default:"菜鸟教程666" }}</p>
<p>{{ name|length}}</p>
<p>{{ name|filesizeformat}}</p>
<p>{{ name|date:"Y-m-d" }}</p>
<p>{{ name|truncatechars:8}}</p>
<!-- <p>{{ views_str|safe }}</p> -->
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

<p>
{%if num > 90 and num <= 100 %}
优秀
{% elif num > 60 and num <= 90 %}
合格
{% else %}
一边玩去～
{% endif %}
</p>

<ul>
{% for athlete in athlete_list %}
    <li>{{ athlete.name }}</li>
{% endfor %}
</ul>

{% comment %}
<p>{{ "test" }}</p>
{% endcomment %}

<form  enctype="multipart/form-data" method="post">
{% csrf_token %}

{% for place_form in places_formset %}
    <div class="place_formset">
        <div class="required field">
        <label>{{ place_form.name.label }}</label>
        <div class="ui icon input">
            {{ place_form.name }}
        </div>
        </div>
    </div>
{% endfor %}

{{ places_formset.management_form }}

<br>
<button  type="submit">Save changes</button>



<!-- notice info table -->
<!-- id="notice_info" -->
<script type="text/x-template"  v-if="true">
    <div :style="noticeTableStyle">
        <el-tabs v-model="noticeTabName" type="card" @tab-click="noticeTabClick">
            <el-tab-pane
                v-for="(item, index) in noticeTabs"
                :key="item.name"
                :label="item.title"
                :name="item.name"
            >
            </el-tab-pane>
        </el-tabs>
        <el-form :inline="true" :model="formInline" class="result-form-inline">
            <el-form-item label="每页">
                <el-select v-model="formInline.line" placeholder="请选择" size="small" style="width: 100px" @change="onSelect">
                    <el-option label="10条" value="10"></el-option>
                    <el-option label="50条" value="50"></el-option>
                    <el-option label="100条" value="100"></el-option>
                    <el-option label="200条" value="200"></el-option>
                    <el-option label="500条" value="500"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <hr size="28" width="1" style="border: 1px solid #dcdfe6;
                    border-left-style:solid;
                    border-bottom-style:none;
                    border-right-style:none;
                    border-top-style:none">
            </el-form-item>
            <el-form-item>
               <el-input v-model="formInline.search" placeholder="输入查询项" prefix-icon="el-icon-search" size="small"></el-input> 
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSearch" size="small">查询</el-button>
            </el-form-item>
        </el-form>
        <el-table @sort-change="sortChange" :data="table_data" style="width: 100%" border :cell-style="noticeCell" v-loading="noticeLoading">
            <el-table-column sortable="custom" prop="metric" label="指标名" align="center" v-if="noticeMetricShow"></el-table-column>
            <el-table-column sortable="custom" prop="func" label="统计维度" align="center" v-if="noticeMetricShow"></el-table-column>
            <el-table-column v-if="stage_num > 1" prop="stage" label="阶段" align="center" v-if="noticeStageNumShow"></el-table-column>
            <el-table-column sortable="custom" prop="base_value" :label="baseValueLabel" align="center" v-if="noticeBaseValueShow"></el-table-column>
            <el-table-column sortable="custom" prop="new_value" label="新版本值" align="center" v-if="noticeNewValueShow"></el-table-column>
            <el-table-column prop="new_value_origin" width="180" label="新版本值（策略矫正）" align="center" v-if="table_data.length == 0 || (table_data.length != 0 && table_data.filter(item => item.new_value_origin != undefined).length != 0)"></el-table-column>
            <el-table-column label="变化信息" align="center" v-if="noticeLabelChangeShow">
                <el-table-column sortable="custom" prop="change" label="绝对值变化" align="center" v-if="noticeChangeShow">
                    <template scope="scope">
                        <span v-if="scope.row.is_check_pass === 0">{[{scope.row.change}]}</span>
                        <span v-else style="color: red">{[{scope.row.change}]}</span>
                    </template>
                </el-table-column>
                <el-table-column sortable="custom" prop="change_rate" label="变化率" align="center" v-if="noticeChangeRateShow">
                    <template scope="scope">
                        <span v-if="scope.row.is_check_pass === 0">{[{scope.row.change_rate}]}</span>
                        <span v-else style="color: red">{[{scope.row.change_rate}]}</span>
                    </template>
                </el-table-column>
            </el-table-column>
            <el-table-column label="阈值信息" align="center" v-if="noticeLabelThresholdShow">
                <el-table-column sortable="custom" prop="threshold" label="绝对值" align="center" v-if="noticeThresholdShow"></el-table-column>
                <el-table-column sortable="custom" prop="threshold_rate" label="变化率" align="center" v-if="noticeThresholdRateShow"></el-table-column>
            </el-table-column>
            <el-table-column label="策略阈值信息" align="center"   v-if="table_data.length == 0 || (table_data.length != 0 && table_data.filter(item => item.threshold_origin != undefined || item.threshold_rate_origin != undefined).length != 0)">
                <el-table-column sortable="custom" prop="threshold_origin" label="绝对值" align="center"  v-if="table_data.length == 0 || (table_data.length != 0 && table_data.filter(item => item.threshold_origin != undefined).length != 0)"></el-table-column>
                <el-table-column sortable="custom" prop="threshold_rate_origin" label="变化率" align="center"   v-if="table_data.length == 0 || (table_data.length != 0 && table_data.filter(item => item.threshold_rate_origin != undefined).length != 0)"></el-table-column>
            </el-table-column>
            <el-table-column label="评价" align="center" v-if="noticeScopeShow">
                <template slot-scope="scope">
                    <el-button type="text" @click="handleEval(scope.$index, scope.row)"
                               style="color: #66a7f9;">是否准确</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination class="pagination"
                       :current-page.sync="page_num"
                       v-if="pagination_show"
                       @current-change="pageNumChange"
                       :total="total"
                       :page-size="limit"
                       background
                       layout="total, prev, pager, next"></el-pagination>
        <el-dialog title="是否准确" :visible.sync="dialogFormVisible">
            <el-form :model="form" label-position="top">
                <el-form-item label="打分" label-width="80px">
                    <el-row>
                        <el-radio v-model="form.radio" label="0" border>0, 指标值和阈值都准确</el-radio>
                        <el-radio v-model="form.radio" label="1" border>1, 指标值不准确</el-radio>
                    </el-row>
                </el-form-item>
                <el-form-item label="" label-width="80px">
                    <el-row><el-radio v-model="form.radio" label="2" border>2, 阈值设置不合理</el-radio>
                        <el-radio v-model="form.radio" label="3" border>3, 指标值和阈值设置都不合理</el-radio></el-row>
                </el-form-item>
                <el-form-item label="描述">
                    <el-input type="textarea" v-model="form.info"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="success" @click="submitEval">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</script>
<!-- notice info table end -->